.intro-2 {
    background: url("../images/cover.jpg")no-repeat center center;
    background-size: cover;
}

.view {
    margin-top: 0px;
}

.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
    height: 100%;
    font-family: 'Bayon'; 
}

.page-footer{
    font-family: 'Bayon'; 
}

#fb-login-text{
    font-family: 'Bayon'; 
    font-size: 100%;
}

a:hover{
    color: rgb(143, 180, 166) !important;
}
