
.pf-container{
    background-color: white;
    width: 100%;
    height:​500px;
    border: 1px solid darkgoldenrod;
}
.pf-cover{
    background-image: url(../img/139659.jpg);
    width: 100%;
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;
}
.pf-pic{
    width: 200px;
    height: 200px;
    border-radius: 105px;
    background-image: url(https://www.hellomagazine.com/imagenes/profiles/justin-bieber/6176-justin-bieber.jpg);
    border: 5px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -18%;
    
}
.pf-setting{
    background-color: white;
    width: 100%;
    height: 50px;
}
.pf-name{
    text-align: center;
    color: rgb(11, 12, 12);
}
.card-header{
    text-align: center
}

.font-st{
    font-family: 'Francois One','Bayon'; font-size: 100%;
}