.margin-top{
    margin-top: 35px;
}
body{
    background-color:lightgray;
    font-family: 'Koulen';
}
h3{
    font-family: 'Bayon'; font-size: 200%;
    color: blue
}
h5{
    font-family: 'Koulen', cursive;
    color: blueviolet
}
.label{
    font-family: 'Kdam Thmor', cursive;
}
.label2{
    font-family: 'Bokor', cursive;
}
.button{
    font-family: 'Koulen';
    color:white;
    font-size: 150%;
}